.background {
  width: 250px;
  height: 250px;
  background-image: url("https://i.pinimg.com/originals/fd/02/54/fd0254ea4f545b0e7ba9d4f64f1688a6.jpg");
  background-size: cover;
  transition: background-position linear 600ms;
}
