<div class="container">
  <app-scrollable-background [offset]="ship.position"></app-scrollable-background>
  <svg class="line">
    <polyline [attr.points]="linePoints"></polyline>
  </svg>
  <div class="ship" [ngStyle]="shipStyle">
    <div class="image" [ngStyle]="shipImageRotationStyle"></div>
  </div>
  <div id="waypoint" class="waypoint" [ngStyle]="waypointStyle">
    <div class="image"></div>
  </div>
  <app-command-info [commands]="ship.steps"></app-command-info>
</div>
<div class="border">
  <div class="text">Advent of Code 2020 - Day 12</div>
</div>

